<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>先导出行-我的年终账单</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <!-- Add your keywords and description here for SEO. -->
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="shortcut icon" type="image/png" href="images/favicon.png"/>

    <!-- Uncomment this if you need apple touch icon. -->
    <!--
    <link rel="apple-touch-icon" href="touch-icon-iphone.png">
    <link rel="apple-touch-icon" sizes="76x76" href="touch-icon-ipad.png">
    <link rel="apple-touch-icon" sizes="120x120" href="touch-icon-iphone-retina.png">
    <link rel="apple-touch-icon" sizes="152x152" href="touch-icon-ipad-retina.png">
    -->

    <!-- Don't delete this. It's needed for development workflow. -->
    <!-- inject:css -->
    <!-- endinject -->
</head>

<body>

<!-- Don't delete this. It's needed for development workflow. -->
<!-- inject:js -->
<!-- endinject -->


<div class="loading-overlay">
    <img src="images/loading.svg">
</div>



<div class="swiper-container" id="whole-year-statics-app">
    <div class="swiper-wrapper">
        <div class="swiper-slide slide-1">
            <image src="./images/test-1.jpeg"height='100%'/>
            <!-- <div class="item-image animated" data-ani-duration="1s" data-ani-delay="0s"></div> -->
        </div>
        <div class="swiper-slide slide-2" v-if="!isOurUser">
            <image src="./images/test-2.jpeg" width='100%' height='100%'/>
            <!-- <div class="item-image animated"  data-ani-duration="1s" data-ani-delay="0s"></div> -->
        </div>
        <div class="swiper-slide slide-3" v-if="isOurUser">
                <image src="./images/test-3.jpeg" width='100%' height='100%'/>
            <!-- <div class="item-image animated" data-ani-duration="1s" data-ani-delay="0s"></div> -->
            <!-- <p class="item-text animated" data-ani-name="flipInY" data-ani-duration="1s" data-ani-delay="0.3s">上述只是测试文案</p> -->
        </div>
        <div class="swiper-slide slide-4" v-if="isOurUser">
                <image src="./images/test-4.jpeg" width='100%' height='100%'/>
            <!-- <div class="item-image animated" data-ani-duration="1s" data-ani-delay="0s"></div> -->
            <!-- <p class="item-text son-1 animated" data-ani-name="fadeIn" data-ani-duration="1s" data-ani-delay="0.3s"><span class="red">{{firstMins}}</span></p>
            <p class="item-text son-2 animated" data-ani-name="fadeIn" data-ani-duration="1s" data-ani-delay="0.3s"><span class="red">{{firstPayment}}</span></p> -->
        </div>
        <div class="swiper-slide slide-5" v-if="isOurUser">
                <image src="./images/test-5.jpeg" width='100%' height='100%'/>
            <!-- <div class="item-image animated"  data-ani-duration="1s" data-ani-delay="0s"></div> -->
            <!-- <p class="item-text animated" data-ani-name="flipInY" data-ani-duration="1s" data-ani-delay="0.3s">开车最久的一次</p>
            <p class="item-text animated" data-ani-name="flipInY" data-ani-duration="1s" data-ani-delay="0.3s">你开了<span class="red">{{longestJourneyMins}}</span>分钟</p>
            <p class="item-text animated" data-ani-name="flipInY" data-ani-duration="1s" data-ani-delay="0.3s">消费了<span class="red">{{longestJourneyPayment}}</span>元</p>
            <p class="item-text animated" data-ani-name="slideInRight" data-ani-duration="1s" data-ani-delay="0.3s">开启一段优质的新生活总是意义非凡</p> -->
        </div>
        <div class="swiper-slide slide-6" v-if="isOurUser">
                <image src="./images/test-6.jpeg" width='100%' height='100%'/>
            <!-- <div class="item-image animated" data-ani-duration="1s" data-ani-delay="0s"></div> -->
            <!-- <p class="item-text animated" data-ani-name="flipInY" data-ani-duration="1s" data-ani-delay="0.3s">这一年</p>
            <p class="item-text animated" data-ani-name="flipInY" data-ani-duration="1s" data-ani-delay="0.3s">你在{{commonlyRentSiteName}}网点取车次数达到{{commonlyRentSiteNum}}次</p>
            <p class="item-text animated" data-ani-name="flipInY" data-ani-duration="1s" data-ani-delay="0.3s">在{{commonlyReturnSiteName}}网点还车次数达到{{commonlyReturnSiteNum}}次</p>
            <p class="item-text animated" data-ani-name="flipInY" data-ani-duration="1s" data-ani-delay="0.3s">老熟人了，连运维小哥都认识你了</p> -->
        </div>

        <!-- slide-7貌似没有提供相关数据 -->
        <div class="swiper-slide slide-7" v-if="isOurUser">
                <image src="./images/test-7.jpeg" width='100%' height='100%'/>
            <!-- <div class="item-image animated" data-ani-duration="1s" data-ani-delay="0s"></div> -->
            <!-- <p class="item-text animated" data-ani-name="slideInRight" data-ani-duration="1s" data-ani-delay="0.3s">你共完成xx笔订单</p>
            <p class="item-text animated" data-ani-name="slideInRight" data-ani-duration="1s" data-ani-delay="0.3s">共计用车xx小时</p>
            <p class="item-text animated" data-ani-name="slideInRight" data-ani-duration="1s" data-ani-delay="0.3s">总共消费xxx元</p>
            <p class="item-text animated" data-ani-name="slideInRight" data-ani-duration="1s" data-ani-delay="0.3s">超过了</p>
            <p class="item-text animated" data-ani-name="slideInRight" data-ani-duration="1s" data-ani-delay="0.3s">共计用车xx小时</p> -->
        </div>

        <div class="swiper-slide slide-8" v-if="isOurUser">
                <image src="./images/test-8.jpeg" width='100%' height='100%'/>
            <!-- <div class="item-image animated"  data-ani-duration="1s" data-ani-delay="0s"></div> -->
            <!-- <p class="item-text animated" data-ani-name="slideInRight" data-ani-duration="1s" data-ani-delay="0.3s">你共邀请了{{inviteNum}}人加入先导出行大家族</p> -->
        </div>
        <div class="swiper-slide slide-9" v-if="isOurUser">
                <image src="./images/test-9.jpeg" width='100%' height='100%'/>
            <!-- <div class="item-image animated" data-ani-duration="1s" data-ani-delay="0s"></div> -->
            <!-- <p class="item-text animated" data-ani-name="flipInY" data-ani-duration="1s" data-ani-delay="0.3s">上述只是测试文案</p> -->
        </div>
        <div class="swiper-slide slide-10" v-if="isOurUser">
            <image src="./images/test-10.jpeg" width='100%' height='100%'/>
            <!-- <div class="item-image animated" data-ani-duration="1s" data-ani-delay="0s"></div> -->
            <!-- <p class="item-text animated" data-ani-name="flipInY" data-ani-duration="1s" data-ani-delay="0.3s">上述只是测试文案</p> -->
        </div>
        <div class="swiper-slide slide-11" v-if="isOurUser">
            <image src="./images/test-11.jpeg" width='100%' height='100%'/>
            <!-- <div class="item-image animated" data-ani-duration="1s" data-ani-delay="0s"></div> -->
            <!-- <p class="item-text animated" data-ani-name="flipInY" data-ani-duration="1s" data-ani-delay="0.3s">上述只是测试文案</p> -->
        </div>
        
    </div>
</div>

<button class="up-arrow">
    <i class="icon-angle-double-up"></i>
</button>

<button class="btn-music">
    <i class="icon-note"></i>
</button>

<audio loop>
    <source src="audios/background.mp3" type="audio/mpeg">
</audio>

<script>
    let username = '13750042892'
    let timestamp = new Date().getTime()//'1517753310782'
    let key = '9048a3dbab43c51098460b31fc14753f'
    let formedString = `timestamp=${timestamp}&username=${username}&key=${key}`
    let sign= md5(formedString).toUpperCase()

    var app = new Vue({
        el: '#whole-year-statics-app',
        data: {
            isOurUser:true,
            year:'',
            month:'',
            day:'',
            pointName:'',
            firstMins:0,
            firstPayment:0,
            longestJourneyMins:0,
            longestJourneyPayment:0,
            commonlyRentSiteNum:0,
            commonlyRentSiteName:'',
            commonlyReturnSiteNum:0,
            commonlyReturnSiteName:'',
            inviteNum:0,
            crossCityNum:0,
            couponNum:0,
            couponAmount:0,
            driveLessThanTenNum:0,
            userIndex :0,
            totalMiles :0,
        },
        methods:{
            fetData(){
                let self = this
                $.ajax({
                    type: "POST",
                    cache: false,
                    url: "http://ready-go.cn:9090/osp/statistics/yearEndstatis.dc",
                    data: {
                        username,
                        timestamp,
                        sign,
                    },
                    contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                    datatype: "JSON",
                    success: function (data) {
                        console.log('vueData',data)
                        const code = data.resultCode
                        const statisticsData = data.statisticsDate
                        if(code==="0000"){//成功
                            // init(statisticsData)
                            var firstUseTime = statisticsData.firstUseTime
                            var firstUseTimeArr = firstUseTime.split('-')
                            self.year = firstUseTimeArr[0]
                            self.month = firstUseTimeArr[1]
                            self.day = firstUseTimeArr[2]
                            self.pointName = statisticsData.point_name
                            self.firstMins = statisticsData.mins
                            self.firstPayment = statisticsData.real_pay_cost
                            self.longestJourneyMins = statisticsData.longest_order_time
                            self.longestJourneyPayment = statisticsData.longest_pay_cost
                            self.commonlyRentSiteNum = statisticsData.take_car_num,
                            self.commonlyRentSiteName = statisticsData.take_car_name,
                            self.commonlyReturnSiteNum = statisticsData.ret_car_num,
                            self.commonlyReturnSiteName = statisticsData.ret_car_name,
                            self.inviteNum = statisticsData.inviter_num
                            self.crossCityNum =  statisticsData.cross_city_num
                            self.couponNum = statisticsData.coupon_num,
                            self.couponAmount = statisticsData.reduce_cost,
                            self.driveLessThanTenNum = statisticsData.Less_ten_num,
                            self.userIndex = statisticsData.user_index
                            self.totalMiles = statisticsData.total_mils
                            // data.statisticsDate.firstUseTime = firstUseTime.split('-')
                            
                            this.shema = data.statisticsDate
                        }else if(code==="5555"){//没有用户信息
                            self.isOurUser = false
                        }else if(code==="9999"){//失败

                        }else{

                        }
                    },
                    error: function (xhr, status, error) {
                        console.log(error);
                    }
                });
            }
        },
        mounted(){
            this.fetData()
        }
    })
    
    
    
</script>

</body>

</html>